.main-photo-container {
    position: relative;
    width: 90%;
    padding-bottom: 50%;
    background: #97a9b2;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    z-index: 3;
}

.main-photo-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}